@import "../product/vars";
@import "../product/mixins";

.shopping__cart {
  height: 148px;
  background: $colorHeading;

  &__title {
    font-family: "latoregular";
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $colorSelectSite;
    padding-top: 59px;
  }
}

.basket {
  display: flex;
  gap: 128px;
  flex-wrap: wrap;
  margin-bottom: 128px;
  &__cart {
    &__one {
      position: relative;
      margin-top: 96px;
      width: 652px;
      height: 306px;
      box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
      &__info {
        position: absolute;
        top: 22px;
        left: 293px;

        &__price {
          color: $pText;
          margin-top: 42px;
          @include fontColor();
          &__color {
            color: $colorSelectSite;
          }
        }
        &__fonts {
          margin-top: 6px;
          @include fontColor();
          &__colors {
            color: rgb(111, 110, 110, 0.7);
          }
        }
        &__title {
          display: flex;
          gap: 45px;
          &__close {
            height: 50px;
            width: 50px;
            cursor: pointer;
            background-color: #fff;
            border: none;
            color: rgb(87, 87, 87);
            padding-bottom: 25px;
            font-size: 22px;
          }
          &__text {
            font-family: "latoregular";
            width: 262px;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
          }
          &__close {
            &:hover path {
              fill: $colorSelectSite;
            }
          }
        }
        &__quantity {
          display: flex;
          gap: 40px;
          align-items: flex-end;
          &__pieces {
            border: 1px solid rgb(234, 234, 234);
            width: 43px;
            height: 24px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: $pText;
            color: rgb(94, 94, 94, 0.7);
          }
        }
      }
    }
    &__two {
      position: relative;
      margin-top: 40px;
      width: 652px;
      height: 306px;
      box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
    }
    &__button {
      gap: 192px;
      margin-top: 72px;
      display: flex;

      &__style {
        position: relative;
        box-sizing: border-box;
        z-index: 5;
        font-family: "latoregular";
        width: 225px;
        height: 50px;
        background: #fff;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        border: 1px solid rgb(164, 164, 164, 0.7);
        cursor: pointer;
        &:hover {
          border: 1px solid $colorSelectSite;
          color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0px;

          width: 0px;
          height: 100%;
          background: $colorSelectSite;

          transition: all 1s ease;
          z-index: -1;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}

.shopping {
  margin-top: 123px;

  &__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      font-family: "latoregular";
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      color: rgb($colorTexttitle, 0.7);
    }
    &__input {
      font-family: "latoregular";
      width: 358px;
      height: 43px;
      font-size: 13px;
      font-weight: 300;
      line-height: 16px;
      border: 1px solid rgb(164, 164, 164, 0.7);
      box-sizing: border-box;
      padding-left: 18px;
      &::placeholder {
        color: rgb(177, 177, 177);
      }
      &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
      }
      &__color {
        font-family: "latoregular";
        width: 358px;
        height: 43px;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        border: 1px solid rgb(164, 164, 164, 0.7);
        box-sizing: border-box;
        padding-left: 18px;
        &::placeholder {
          color: $colorTexttitle;
        }
        &:focus {
          color: #212529;
          background-color: #fff;
          border-color: #bdbdbd;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
        }
      }
    }
    &__button {
      position: relative;
      box-sizing: border-box;
      z-index: 5;
      font-family: "latoregular";
      width: 101px;
      height: 35px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(164, 164, 164, 0.7);
      font-size: 11px;
      font-weight: 300;
      line-height: 13px;
      color: rgb(74, 74, 74, 0.7);
      cursor: pointer;
      &:hover {
        color: #fff;
        border: 1px solid $colorSelectSite;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;

        width: 0px;
        height: 100%;
        background: $colorSelectSite;

        transition: all 1s ease;
        z-index: -1;
      }
      &:hover:before {
        width: 100%;
      }
    }
  }
  &__total {
    width: 360px;
    height: 214px;
    background: rgb(245, 243, 243);
    margin-top: 57px;

    &__text {
      padding-top: 39px;
      &__price {
        display: flex;
        width: 108px;
        justify-content: space-between;
        padding-left: 218px;

        &__sub {
          font-family: "latoregular";
          font-size: 11px;
          font-weight: 400;
          line-height: 13px;
          color: $pText;
        }
      }
      &__grand {
        display: flex;
        margin-top: 12px;
        width: 170px;
        justify-content: space-between;
        padding-left: 153px;

        &__sub {
          font-family: "latoregular";
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;
        }
        &__total {
          color: $colorSelectSite;
          font-family: "latoregular";
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
        }
      }
    }
    &__shape {
      width: 275px;
      border-bottom: 1px solid rgb(226, 226, 226);
      margin-top: 21px;
      margin-left: 43px;
    }
    &__button {
      position: relative;
      box-sizing: border-box;
      z-index: 5;
      width: 273px;
      height: 50px;
      color: rgb(0, 0, 0, 0.7);
      font-family: "latoregular";
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      background: #fff;
      border: 1px solid rgba(164, 164, 164, 0.7);
      cursor: pointer;
      margin-left: 44px;
      margin-top: 17px;
      &:hover {
        color: #fff;
        border: 1px solid $colorSelectSite;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0px;

        width: 0px;
        height: 100%;
        background: $colorSelectSite;

        transition: all 1s ease;
        z-index: -1;
      }
      &:hover:before {
        width: 100%;
      }
    }
  }
}

.costil {
  display: none;
}
@media ( 768px <= width <= 1024px){
  .basket {
    gap: 64px;
    display: flex;
        justify-content: center;
  }
  .basket__cart__one{
    width: 734px ;
    margin-top: 56px ;
  }
  .basket__cart__button{
    margin-top: 62px;
    gap: 48px;
    justify-content: center;
  }
  .basket__cart__one__info__title{
    gap: 130px;
  }
  .shopping{
    margin-top: 64px;
    display: flex;
    gap: 15px;
  }
  .shopping__total{
    margin-top: 39px;
   
  }

}