$colorSelectSite: #f16d7f;//rgb(42, 91, 182);
$widthSite: 1140px;
$pText:rgb(94, 94, 94);
$bgBlock: #222222;
$colorText: #000;
$gapGrid :30px;
$thirdSite: ($widthSite - $gapGrid*2) /3;
$widthBurgerMenu: 232px;